{% extends 'base.html.twig' %}

{% block title %}Gestionaire de plannings{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

{% set minOpenSchedule  = 24 %}
{% set maxCloseSchedule = 0 %}
{% set column = 2 %}

{% set workDay = 0 %}
{% for schedule in company.schedules %}
    {% if schedule.secondTimeStop != null %}
        {% if schedule.secondTimeStop|date("G.i")|round(0, 'ceil') > maxCloseSchedule %}
            {% set maxCloseSchedule = schedule.secondTimeStop|date("G.i")|round(0, 'ceil') %}
        {% endif %}
    {% else %}
        {% if schedule.firstTimeStop|date("G.i")|round(0, 'ceil') > maxCloseSchedule %}
            {% set maxCloseSchedule = schedule.firstTimeStop|date("G.i")|round(0, 'ceil') %}
        {% endif %}
    {% endif %}
        {% if schedule.firstTimeStart|date("G.i")|round(0, 'floor') < minOpenSchedule %}
        {% set minOpenSchedule  = schedule.firstTimeStart|date("G.i")|round(0, 'floor') %}
    {% endif %}
    {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
        {% set workDay = workDay + 1 %}
    {% endif %}
{% endfor %}

{% set maxWorkTime =  (maxCloseSchedule - minOpenSchedule) * 4 %}

<style type="text/css">
    .planning{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
        grid-template-rows: repeat({{maxWorkTime}}, 1rem);
        }
    .planning-legende{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
    }
</style>

<div class="container">
    <h1>Semaine en cours</h1>
    <form action="/home" method="POST">
        <select name="company" id="company">
            {% for company in app.user.companies %}
            <option value="{{company.id}}">{{company.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Changer d'entreprise</button>
    </form>
    
    <ul>
        <li><a href=" {{ path('planning_new') }} "><button>Nouveau planning</button></a></li>
        <li><a href=""><button>Editer le planning en cours</button></a></li>
        <li><a href=""><button>Envoyer le planning</button></a></li>
    </ul>
    <div class="planning-legende">
        <div></div>
        {% for schedule in company.schedules %}
            {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
                <div class="legende">{{schedule.day.name}}</div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="planning">
        {% for schedule in company.schedules %}
            {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}

                {% set startTime = (schedule.firstTimeStart|date("G.i")|round(0, 'floor') - minOpenSchedule) * 4 + 1 %}

                {% if schedule.secondTimeStart != null %}

                    {% set morningWorkTime = (schedule.firstTimeStop|date("G.i")|round(0, 'ceil') - schedule.firstTimeStart|date("G.i")|round(0, 'floor')) * 4 %}
                    {% set afternoonWorkTime = (schedule.secondTimeStop|date("G.i")|round(0, 'ceil') - schedule.secondTimeStart|date("G.i")|round(0, 'floor')) * 4 %}
                    {% set mealBreak = (schedule.secondTimeStart|date("G.i")|round(0, 'floor') - schedule.firstTimeStop|date("G.i")|round(0, 'ceil')) * 4 %}

                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{startTime}}/{{morningWorkTime + 1}};"></div>
                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{morningWorkTime + mealBreak + startTime}}/{{morningWorkTime + mealBreak + afternoonWorkTime + 1}};"></div>

                {% else %}

                    {% set workTime = schedule.firstTimeStop|date("G.i")|round(0, 'ceil') - schedule.firstTimeStart|date("G.i")|round(0, 'floor') %}                
                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{startTime}}/{{startTime + workTime * 4}};"></div>
                    
                {% endif %}

                {% set column = column + 1 %}

            {% endif %}
        {% endfor %}
        
        {% set interval = 1 %}
        {% for i in 0..(maxWorkTime / 4) %}
            <div class="hour" style="grid-column: 1/{{workDay + 2}}; grid-row: {{interval}}; z-index: 2;">{{minOpenSchedule + i}}h</div>
            {% set interval = interval + 4 %}
        {% endfor %}
    </div>
    
</div>
{% endblock %}
