{% extends 'base.html.twig' %}

{% block title %}Gestionaire de plannings{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

{% set minOpenSchedule  = minSchedule.convertedFirstTimeStart %}
{% if maxSchedule.convertedSecondTimeStop != null %}
    {% set maxCloseSchedule = maxSchedule.convertedSecondTimeStop %}
    {% set endShift =  1- (maxCloseSchedule - maxSchedule.secondTimeStop|date("G")) %}
{% else %}
    {% set maxCloseSchedule = maxSchedule.convertedFirstTimeStop %}
    {% set endShift =  1 - (maxCloseSchedule - maxSchedule.firstTimeStop|date("G")) %}
{% endif %}

<!-- we make a shift for none entier hour start and stop -->
{% set shift =  minOpenSchedule - minSchedule.firstTimeStart|date("G") %}

{% set column = 2 %}
{% set position = 2 %}
{% set workDay = 0 %}

{% for schedule in company.schedules %}
    {% if schedule.convertedFirstTimeStart != null or  schedule.convertedSecondTimeStart != null %}
        {% set workDay = workDay + 1 %}
    {% endif %}
{% endfor %}

{% set maxWorkTime =  (maxCloseSchedule - minOpenSchedule) * 4 %}

<style type="text/css">
    .planning{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
        grid-template-rows: repeat({{maxWorkTime + shift * 4 + endShift * 4}}, 1rem);
    }
    .planning-legende{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
    }
    {% for employee in company.employees %}
    .employee{{employee.id}}{
        background-color: {{employee.color}};
        opacity: .50;
    }
    {% endfor %}
</style>

<div class="container">
    <h1>Semaine en cours</h1>
    <span>N°{{"now"|date("W")}} du {{daysDates[0]|date('d/m/Y')}} au {{daysDates[6]|date('d/m/Y')}}</span>
    <form action="/home" method="POST">
        <select name="company" id="company">
            {% for company in app.user.companies %}
            <option value="{{company.id}}">{{company.name}}</option>
            {% endfor %}
        </select>
        <input id="company-id" type="hidden" name="companiId" data-path="{{ path('planning_lastid',{'id': company.id}) }}">
        <button type="submit">Changer d'entreprise</button>
    </form>
    
    <ul id="option-list" class="d-flex flex-raw justify-content-around">
        <li><a href=" {{ path('planning_new') }} "><button>Nouveau planning</button></a></li>
        <li><a href=""><button>Envoyer le planning</button></a></li>
    </ul>
    <ul id="employee-list" class="d-flex flex-raw justify-content-around">
        {% for employee in company.employees %}
            <li class="employee"><span class="employee{{employee.id}}
                employee-color"></span><a href="{{ path('employee_edit',{'id': employee.id}) }}">{{employee.firstName}}</a></li>
        {% endfor %}
    </ul>
    <div class="planning-legende">
        <div></div>
        {% for schedule in company.schedules %}
        {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
        <div id="day{{schedule.day.representationNumber}}" class="legende" data-position = "{{position}}"><a href="#" data-width="500" data-rel="popup1" data-day="{{schedule.day.representationNumber}}" data-date = "{{daysDates[schedule.day.representationNumber - 1]|date('Y-m-d')}}" class="poplight">{{schedule.day.name}}</a></div>

        {% set position = position + 1 %}
        {% endif %}
        {% endfor %}
    </div>
    
    <div class="planning" data-minOpenSchedule="{{minOpenSchedule}}" data-shift="{{shift}}">
        {% for schedule in company.schedules %}
            {% if schedule.convertedFirstTimeStart != null or  schedule.convertedSecondTimeStart != null %}
            
                {% set startTime = (schedule.convertedFirstTimeStart - minOpenSchedule + shift) * 4 + 1 %}
                
                {% if schedule.convertedSecondTimeStart != null %}

                    {% set mealBreak = (schedule.convertedSecondTimeStart - schedule.convertedFirstTimeStop) * 4 %}
                    
                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{startTime}}/{{startTime + schedule.morningWorkTime}};"></div>

                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{schedule.morningWorkTime + mealBreak + startTime}}/{{schedule.morningWorkTime + mealBreak + schedule.afternoonWorkTime + startTime}};"></div>
                    
                    {% else %}
                              
                    <div class="{{schedule.day.name}} working-day" style="grid-column: {{column}}; grid-row: {{startTime}}/{{startTime + schedule.morningWorkTime}};"></div>
                
                {% endif %}
            
                {% set column = column + 1 %}
            
            {% endif %}
        {% endfor %}
    {% set interval = 1 %}
    {% for i in 0..(maxWorkTime / 4 + shift + endShift) %}
    <div class="hour" style="grid-column: 1/{{workDay + 2}}; grid-row: {{interval}};">{{minSchedule.firstTimeStart|date("G") + i}}h</div>
    {% set interval = interval + 4 %}
    {% endfor %}
  
    </div>
    
</div>

<div id="popup1" class="popup_block">
    <form name="planning" method="POST" action="{{ path('planning_new') }}" id="planning-form">
        <div id="planning">
            <div>
                <label for="planning_day" class="required">Day</label>
                <select id="planning_day" name="planning[day]">
                    <option value="1">Lundi</option><option value="2">Mardi</option><option value="3">Mercredi</option><option value="4">Jeudi</option><option value="5">Vendredi</option><option value="6">Samedi</option><option value="7">Dimanche</option>
                </select>
            </div>
            <div>
                <label class="required">Date du jour</label>
                <div id="planning_dayDate">
                    <input id="planning_date" type="date" name="planning[date]" value="">
                </div>
                <div>
                    <span for="planning_company" class="required">Entreprise : {{company.name}}</span>
                    <input type="hidden" id="planning_company" name="planning[company]" value="{{company.id}}">
                </div>
                <div>
                    <label for="planning_employee" class="required">Employé(e)</label>
                    <select id="planning_employee" name="planning[employee]">
                        {% for employee in company.employees %}
                        <option value="{{employee.id}}">{{employee.firstName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="required">Heure de debut</label>
                    <input id="planning_startTime" type="time" name="planning[startTime]">
                </div>
                <div>
                    <label class="required">Heure de fin</label>
                    <input id="planning_stopTime" type="time" name="planning[stopTime]">
                </div>
                <input id="planning_week" type="hidden" name="planning[week]" value="{{"now"|date("W")}}">
                <input id="planning_year" type="hidden" name="planning[year]" value="{{"now"|date("o")}}">
                
                <button class="btn" id="save-btn">Confirmer</button> <Button class="btn" id="cancel-btn">Anuler</Button>
            </form>
        </div>
        {% endblock %}
        