{% extends 'base.html.twig' %}

{% block title %}Gestionaire de plannings{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

{% set minOpenSchedule  = minSchedule.convertedFirstTimeStart %}
{% if maxSchedule.convertedSecondTimeStop != null %}
    {% set maxCloseSchedule = maxSchedule.convertedSecondTimeStop %}
    {% set endShift =  1 - (maxCloseSchedule - maxSchedule.secondTimeStop|date("G")) %}
{% else %}
    {% set maxCloseSchedule = maxSchedule.convertedFirstTimeStop %}
    {% set endShift =  1 - (maxCloseSchedule - maxSchedule.firstTimeStop|date("G")) %}
{% endif %}

{% if endShift == 1 %}
    {% set endShift = 0 %}
{% endif %}

<!-- we make a shift for none entier hour start and stop -->
{% set shift =  minOpenSchedule - minSchedule.firstTimeStart|date("G") %}

{% set column = 2 %}
{% set position = 2 %}
{% set workDay = 0 %}

{% for schedule in company.schedules %}
    {% if schedule.convertedFirstTimeStart != null or  schedule.convertedSecondTimeStart != null %}
        {% set workDay = workDay + 1 %}
    {% endif %}
{% endfor %}

{% set maxWorkTime =  (maxCloseSchedule - minOpenSchedule) * 4 %}

<style type="text/css">
    .planning{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
        grid-template-rows: repeat({{maxWorkTime + shift * 4 + endShift * 4}}, 1rem);
    }
    .planning-legende{
        grid-template-columns: 2rem repeat({{workDay}}, 1fr);
    }

    {% for employee in company.employees %}
        .employee{{employee.id}}{
            background-color: {{employee.color}};
            opacity: .8;
            color: rgba(0, 0, 0, 1);
        }
    {% endfor %}

    {% for schedule in company.schedules %}
        #{{schedule.day.representationNumber}}morning{
            grid-template-rows: repeat({{schedule.morningWorkTime|round(0, 'floor') }}, 1rem);
        }
        {% if schedule.convertedSecondTimeStart != null %}
            #{{schedule.day.representationNumber}}afternoon{
                grid-template-rows: repeat({{schedule.afternoonWorkTime|round(0, 'floor')}}, 1rem);
            }          
        {% endif %}
    {% endfor %}
</style>

<div class="container">
    <div class="planning-body">
        <div class="row justify-content-center"> 
            <div class="title-frame col-6">
                <h1>Semaine N°{{week}}</h1>
                <span>du {{daysDates[0]|date('d/m/Y')}} au {{daysDates[6]|date('d/m/Y')}}</span>
            </div>
        </div>

        <form action="" method="POST">
            <div class="input-group col-4 offset-4">
                <div class="input-group-prepend">
                    <button class="btn btn-black" type="submit" title="Changer d'entreprise"><i class="fas fa-exchange-alt"></i></button>
                </div>
                <select class="custom-select" name="company" id="company">
                    {% for comp in app.user.companies %}
                    <option value="{{comp.id}}" 
                    {% if comp == company %}
                        selected
                    {% endif %}
                    >{{comp.name}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="year" value="{{year}}">
                <input type="hidden" name="week" value="{{week}}">
                <input id="company-id" type="hidden" name="companiId" data-path="{{ path('planning_lastid',{'id': company.id}) }}">
            </div>
        </form>
        
        <ul id="option-list" class="d-flex flex-raw justify-content-around">
            <li>
                <form action="" method="POST">
                    {% if week == 1 %}
                        {% set week = 53 %}
                        {% set year = year - 1 %}
                    {% endif %}
                    <input type="hidden" name="week" value="{{week - 1}}">
                    <input type="hidden" name="year" value="{{year}}">
                    <input type="hidden" name="company" value="{{company.id}}">
                    <button type="submit" class="btn btn-black" title="Semaine précédente"><i class="fas fa-angle-double-left"></i></button>
                </form>
            </li>
            <li><button class="btn btn-black" id="new-planning-company" title="Choisir sa semaine"><i class="far fa-calendar-alt"></i></button></li>
            <li><button class="btn btn-black" id="print-planning" title="Imprimer le planning"><i class="fas fa-print"></i></button></li>
            <li>
                <form action="" method="POST">
                    {% if week >= 52 %}
                        {% set week = week - 52 %}
                        {% set year = year + 1 %}
                    {% endif %}
                    <input type="hidden" name="week" value="{{week + 1}}">
                    <input type="hidden" name="year" value="{{year}}">
                    <input type="hidden" name="company" value="{{company.id}}">
                    <button type="submit" class="btn btn-black" title="Semaine suivante"><i class="fas fa-angle-double-right"></i></button>
                </form>
            </li>
        </ul>
        <ul id="employee-list" class="d-flex flex-raw justify-content-around">
            {% for employee in company.employees %}
                <div class="col-auto">
                {% set workTimeLeft = employee.numberOfHours %}
                {% for planning in employee.plannings %}
                    {% if planning.year == year and planning.week == week %}
                        {% set workTimeLeft = workTimeLeft - planning.workTime %}
                    {% endif %}
                {% endfor %}
                <li class="employee"><span class="employee{{employee.id}}
                    employee-frame"><a href="{{ path('employee_edit',{'id': employee.id}) }}" class="employee-link">{{employee.firstName}} :</a></span>
                        {% if  workTimeLeft < 0 %}
                        <span class="frame">
                            <span id="{{employee.id}}worktime" class="negativ" >{{workTimeLeft}}</span>h</li>
                        </span>
                        {% else %}
                        <span class="frame">
                            <span id="{{employee.id}}worktime">{{workTimeLeft}}</span>h</li>
                        </span>
                        {% endif %}
                </div>
            {% endfor %}
        </ul>
        <div class="planning-legende">
            {# this div is use for planning-legend placement #}
            <div></div>
            {% for schedule in company.schedules %}
                {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
                <div id="day{{schedule.day.representationNumber}}" class="legende"><a href="#" data-width="500" data-rel="popup-creation-form" data-day="{{schedule.day.representationNumber}}" data-date = "{{daysDates[schedule.day.representationNumber - 1]|date('Y-m-d')}}" class="poplight">{{schedule.day.name}}</a></div>

                {% set position = position + 1 %}
                {% endif %}
            {% endfor %}

        </div>
        
        <div class="planning">
            {% for schedule in company.schedules %}
                {% if schedule.convertedFirstTimeStart != null or  schedule.convertedSecondTimeStart != null %}
                
                    {% set startTime = (schedule.convertedFirstTimeStart - minOpenSchedule + shift) * 4 + 1 %}

                    {% set dayPlanningMorning = [] %}
                    {% set dayPlanningAfternoon = [] %}

                    {% for planning in plannings %}
                        {% if planning.day == schedule.day %}
                            {% if  planning.convertedStartTime < schedule.convertedFirstTimeStop %}
                                {% set dayPlanningMorning = dayPlanningMorning|merge([planning]) %}
                            {% else %}
                                {% set dayPlanningAfternoon = dayPlanningAfternoon|merge([planning]) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    
                    <div id="{{schedule.day.representationNumber}}morning" class="working-day" data-firsttimestart="{{schedule.convertedFirstTimeStart}}" data-firsttimestop="{{schedule.convertedFirstTimeStop}}" style="grid-column: {{column}}; grid-row: {{startTime}}/{{startTime + schedule.morningWorkTime}}; grid-template-rows: repeat({{schedule.morningWorkTime|round(0, 'floor') }}, 1rem);">

                        {% set columnMorning = 1 %}
                        
                        {% for planning in dayPlanningMorning %}
                        {% set start = (planning.convertedStartTime - schedule.convertedFirstTimeStart) * 4  + 1 %}
                        
                        <div class="employee{{planning.employee.id}} planning-employee" id="{{planning.id}}" data-column="{{columnMorning}}" style="grid-column:{{columnMorning}}; grid-row: {{start}}/{{planning.workTime * 4 + start}};">
                            {{planning.employee.firstName}} : {{planning.startTime|date("G:i")}}h-{{planning.stopTime|date("G:i")}}h
                        </div>
                        {% set columnMorning = columnMorning + 1 %}
                        {% endfor %}
                            
                    </div>
                    
                    {% if schedule.convertedSecondTimeStart != null %}

                    
                    <div id="{{schedule.day.representationNumber}}afternoon" class="working-day" data-secondtimestart="{{schedule.convertedSecondTimeStart}}" data-secondtimestop="{{schedule.convertedSecondTimeStop}}" style="grid-column: {{column}}; grid-row: {{schedule.morningWorkTime + schedule.mealBreak + startTime}}/{{schedule.morningWorkTime + schedule.mealBreak + schedule.afternoonWorkTime + startTime}};  grid-template-rows: repeat({{schedule.afternoonWorkTime|round(0, 'floor')}}, 1rem);">
                        
                        {% set columnAfternoon = 1 %}
                        
                            {% for planning in dayPlanningAfternoon %}
                            {% set startAfternoon = (planning.convertedStartTime - schedule.convertedSecondTimeStart) * 4 + 1 %}
                            
                            <div class="employee{{planning.employee.id}} planning-employee" id="{{planning.id}}" data-column="{{columnAfternoon}}" style="grid-column:{{columnAfternoon}}; grid-row: {{startAfternoon}}/{{planning.workTime * 4 + startAfternoon}};">
                                {{planning.employee.firstName}} : {{planning.startTime|date("G:i")}}h-{{planning.stopTime|date("G:i")}}h
                            </div>
                            
                            {% set columnAfternoon = columnAfternoon + 1 %}
                            
                            {% endfor %}
                            

                        </div>
                    
                    {% endif %}
                
                    {% set column = column + 1 %}
                
                {% endif %}
            {% endfor %}

            <!-- time show management , half and quarter of hour -->
            {% set interval = 1 %}
            {% if shift != 0 and endShift != 0 %}
                {% set maxWorkTime = maxWorkTime + 2 %}
            {% elseif shift != 0 or endShift != 0 %}
                {% set maxWorkTime = maxWorkTime + 1 %}
            {% endif %}
            <!-- time show  -->
            {% set interval = 1 %}
            {% for i in 0..(maxWorkTime / 4 + shift + endShift) %}
                <div class="hour" style="grid-column: 1/{{workDay + 2}}; grid-row: {{interval}};">{{minSchedule.firstTimeStart|date("G") + i}}h</div>
                {% set interval = interval + 4 %}
            {% endfor %}
    
        </div>
    </div>
</div>

<div id="popup-creation-form" class="popup_block">
        <form name="planning" method="POST" action="{{ path('planning_new') }}" id="planning-form">
            <div id="planning">
                <div>
                    <label for="planning_day" class="required">Day</label>
                    <select id="planning_day" name="planning[day]">
                        <option value="1">Lundi</option><option value="2">Mardi</option><option value="3">Mercredi</option><option value="4">Jeudi</option><option value="5">Vendredi</option><option value="6">Samedi</option><option value="7">Dimanche</option>
                    </select>
                </div>
                <label class="required">Date du jour</label>
                <div id="planning_dayDate">
                    <input id="planning_date" type="date" name="planning[date]" value="">
                </div>
                <div>
                    <span for="planning_company" class="required">Entreprise : {{company.name}}</span>
                    <input type="hidden" id="planning_company" name="planning[company]" value="{{company.id}}">
                </div>
                <div>
                    <label for="planning_employee" class="required">Employé(e)</label>
                    <select id="planning_employee" name="planning[employee]">
                        {% for employee in company.employees %}
                        <option value="{{employee.id}}">{{employee.firstName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="required">Heure de debut</label>
                    <input id="planning_startTime" type="time" name="planning[startTime]">
                </div>
                <div>
                    <label class="required">Heure de fin</label>
                    <input id="planning_stopTime" type="time" name="planning[stopTime]">
                </div>
                <input id="planning_week" type="hidden" name="planning[week]" value="{{week}}">
                <input id="planning_year" type="hidden" name="planning[year]" value="{{year}}">
                
                <button class="btn btn btn-success" id="save-btn">Confirmer</button> <Button class="btn cancel-btn" id="cancel-btn">Anuler</Button>
            </div>
        </form>
    </div>
    <div id="popup-edition-form" data-planning-id="" class="popup_block">
        <form name="planning" method="POST" id="planning-edit-form">
            <div id="planning-edition">
                <input id="planning-edition_day" type="hidden" name="planning[day]" value="">
                <div id="planning-edition_dayDate">
                    <span>Date du jour : <span id="edition_daydate"></span></span>
                </div>
                <div>
                    <span for="planning-edition_company" class="required">Entreprise : {{company.name}}</span>
                    <input type="hidden" id="planning-edition_company" name="planning[company]" value="{{company.id}}">
                </div>
                <div>
                    <label for="planning-edition_employee" class="required">Employé(e)</label>
                    <select id="planning-edition_employee" name="planning[employee]">
                        {% for employee in company.employees %}
                        <option value="{{employee.id}}">{{employee.firstName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="required">Heure de debut</label>
                    <input id="planning-edition_startTime" type="time" name="planning[startTime]">
                </div>
                <div>
                    <label class="required">Heure de fin</label>
                    <input id="planning-edition_stopTime" type="time" name="planning[stopTime]">
                </div>
                <button class="btn btn-success" id="planning-edition-btn">Confirmer</button>
                <button class="btn btn-danger" id="planning-delet-btn">Supprimer</button>
                <button class="btn cancel-btn" id="cancel-edit-btn">Anuler</button>
            </div>
        </form>
    </div>
    <div id="popup-new-planning-company-form" class="popup_block">
        <form action="{{path("company_planning")}}" method="POST">
            <select name="company" id="company">
                {% for comp in app.user.companies %}
                <option value="{{comp.id}}" 
                {% if comp == company %}
                    selected
                {% endif %}
                >{{comp.name}}</option>
                {% endfor %}
            </select>
            <div>
                <label for="week-new-planning-company">Semaine n° </label>
                <input type="text" id="year-new-planning-company" name="week">
            </div>
            <div>
                <label for="year-new-planning-company">Année : </label>
                <input type="text" id="year-new-planning-company" name="year">
            </div>
            <button type="submit" class="btn btn-success">Changer de planning</button>
            <button class="cancel-btn btn" id="cancel-new-company-planning-btn">Annuler</button>
        </form>
    </div>
    {% block script %}
    <script src="{{ asset('js/jqprint.js') }}"></script>
    {% endblock %}
{% endblock %}