{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block body %}
    <h1>Schedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstTimeStart</th>
                <th>FirstTimeStop</th>
                <th>SecondTimeStart</th>
                <th>SecondTimeStop</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.firstTimeStart ? schedule.firstTimeStart|date('H:i:s') : '' }}</td>
                <td>{{ schedule.firstTimeStop ? schedule.firstTimeStop|date('H:i:s') : '' }}</td>
                <td>{{ schedule.secondTimeStart ? schedule.secondTimeStart|date('H:i:s') : '' }}</td>
                <td>{{ schedule.secondTimeStop ? schedule.secondTimeStop|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('schedule_show', {'id': schedule.id}) }}">show</a>
                    <a href="{{ path('schedule_edit', {'id': schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('schedule_new') }}">Create new</a>
{% endblock %}