{% extends 'base.html.twig' %}

{% block title %}Nouveaux Horaires{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}

    <div class="container connexion">
        <h1>Horaires</h1>

        <form action="{{path('schedule_new')}}" method="POST">
            <div class="d-flex flex-wrap wrap justify-content-center center">

                {% for day in days %}
                <div id="schedule{{day.id}}" class="schedule{{day.id}} horraires-edition-box col-3">
                    <div>
                        <h2>{{day.name}}</h2>
                        <label class="required">Début de jourée (ou de matinée)</label>
                        <input id="firstTimeStart{{day.id}}" type="time" name="schedule{{day.id}}[firstTimeStart]">
                    </div>
                    <div>
                        <label class="required">Fin de journée  (ou de matinée)</label>
                        <input id="firstTimeStop{{day.id}}" type="time" name="schedule{{day.id}}[firstTimeStop]">
                    </div>
                    <div>
                        <label class="required">Début d'après midi (si fermeture entre matin et après midi)</label>
                        <input id="secondTimeStart{{day.id}}" type="time" name="schedule{{day.id}}[secondTimeStart]">
                    </div>
                    <div>
                        <label class="required">Fin d'après midi (si fermeture entre matin et après midi)</label>
                        <input id="secondTimeStop{{day.id}}" type="time" name="schedule{{day.id}}[secondTimeStop]">
                    </div>
                    <div>
                        <input type="hidden" name="schedule{{day.id}}[day]" value="{{day.name}}">
                    </div>
                    <div>
                        <input type="hidden" name="schedule{{day.id}}[company]" value="{{company.id}}">
                    </div>
                </div>       
                {% endfor %}
            </div>
            <button class="btn btn-primary create-btn" type="submit">Enregistrer</button>
        </form>
    </div>


{% endblock %}