{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <h1>Create new Schedule</h1>

    <form action="{{path('schedule_new')}}" method="POST">
        <div class="d-flex flex-row justify-content-between">

            {% for day in days %}
            <div id="schedule{{day.id}}" class="schedule{{day.id}}">
                <div>
                    <h2>{{day.name}}</h2>
                    <label class="required">First time start</label>
                    <input type="time" name="schedule{{day.id}}[firstTimeStart]">
                </div>
                <div>
                    <label class="required">First time stop</label>
                    <input type="time" name="schedule{{day.id}}[firstTimeStop]">
                </div>
                <div>
                    <label class="required">Second time start</label>
                    <input type="time" name="schedule{{day.id}}[secondTimeStart]">
                </div>
                <div>
                    <label class="required">Second time stop</label>
                    <input type="time" name="schedule{{day.id}}[secondTimeStop]">
                </div>
                <div>
                    <input type="hidden" name="schedule{{day.id}}[day]" value="{{day.name}}">
                </div>
                <div>
                    <input type="hidden" name="schedule{{day.id}}[company]" value="{{company.id}}">
                </div>
            </div>       
            {% endfor %}
        </div>
        <button type="submit">Enregistrer</button>
    </form>


{% endblock %}