{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block title %}Création d'un employé{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <div class="container connexion">
        <h1>Création d'un employé</h1>

        {{ include('employee/_form.html.twig') }}

        <a href="{{ path('employee_index') }}">Retour liste</a>
    </div>
    <script src="{{ asset('js/formManip.js') }}"></script>
{% endblock %}
{% block script %}
    <script src="{{ asset('js/formManip.js') }}"></script>
{% endblock %}