{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ company.logo }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ company.zipCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">back to list</a>
    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
    
    <h2>Horraires</h2>
    <div class="d-flex flex-row justify-content-between">
        {% for schedule in company.schedules %}
        <div>
            {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
            <span class="scheduleDay">{{schedule.day.name}} :</span><br>
            <span class="schedule">
                {% if schedule.secondTimeStart != null %}
                Matin : {{schedule.firstTimeStart|date("G:i")}} - {{schedule.firstTimeStop|date("G:i")}}</br>
                Après-midi : {{schedule.secondTimeStart|date("G:i")}} - {{schedule.secondTimeStop|date("G:i")}}                
                {% else %}
                {{schedule.firstTimeStart|date("G:i")}} - {{schedule.firstTimeStop|date("G:i")}}
                {% endif %}
            </span>         
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}