{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <div class="container connexion">
        <h1>Horraires</h1>
        <div class="container horraires-box">
            {% for schedule in company.schedules %}
            {% if schedule.firstTimeStart != null or  schedule.secondTimeStart != null %}
            <div class="horraires-container col-7">
                <span class="scheduleDay">{{schedule.day.name}} :</span><br>
                <span class="schedule">
                    {% if schedule.secondTimeStart != null %}
                    Matin : {{schedule.firstTimeStart|date("G:i")}} - {{schedule.firstTimeStop|date("G:i")}}</br>
                    Après-midi : {{schedule.secondTimeStart|date("G:i")}} - {{schedule.secondTimeStop|date("G:i")}}                
                    {% else %}
                    {{schedule.firstTimeStart|date("G:i")}} - {{schedule.firstTimeStop|date("G:i")}}
                    {% endif %}
                </span>         
            </div>
            {% endif %}
            {% endfor %}
            <div class="col-7">
                <a href="{{path("schedule_edit_form", {id: company.id})}}"><button class="create-btn btn-black btn" id="schedule-edition">Editer</button></a>
            </div>
        </div>
    </div>
{% endblock %}