{% extends 'base.html.twig' %}

{% block title %}Mes plannings{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <div class="container connexion">
        <h1>Mes plannings</h1>

        <form action="" method="POST">
            <div class="input-group col-4 offset-4">
                <div class="input-group-prepend">
                    <button class="btn btn-black" type="submit" title="Changer d'entreprise"><i class="fas fa-exchange-alt"></i></button>
                </div>
                <select class="custom-select" name="company" id="company">
                    {% for comp in app.user.companies %}
                    <option value="{{comp.id}}" 
                    {% if comp == company %}
                        selected
                    {% endif %}
                    >{{comp.name}}</option>
                    {% endfor %}
                </select>
                <input id="company-id" type="hidden" name="companiId" data-path="{{ path('planning_lastid',{'id': company.id}) }}">
            </div>
        </form>
    
        {% set year = 0 %}
        {% set week =  0 %}
        <div class="center flex-wrap">
        {% for planning in plannings %}
            {% if planning.week != week or planning.year != year %}
                {% set year = planning.year %}
                {% set week = planning.week %}
                <div class="col-12 planning-list">
                    <span>Semaine N° {{planning.week}} année : {{planning.year}} 
                        <form class="d-inline" action="{{path("company_planning")}}" method="POST">
                            <input type="hidden" name="week" value="{{planning.week}}">
                            <input type="hidden" name="year" value="{{planning.year}}">
                            <input type="hidden" name="company" value="{{planning.company.id}}">
                            <button class="btn btn-black">Voir</button>
                        </form>
                        <form class="d-inline" action="{{path("planning_duplicate")}}" id="{{planning.week}}{{planning.year}}" method="POST">
                            {# send the current week and year for dupplication #}
                            <input type="hidden" name="current_week" value="{{planning.week}}">
                            <input type="hidden" name="current_year" value="{{planning.year}}">
                            {# send week ans year that user wich duplicate #}
                            <input type="hidden" id="duplicate_week_{{planning.week}}{{planning.year}}" name="week" value="">
                            <input type="hidden" id="duplicate_year_{{planning.week}}{{planning.year}}" name="year" value="">
                            <input type="hidden" name="company" value="{{planning.company.id}}">
                            <button class="btn btn-success duplication">Dupliquer</button>
                        </form>
                        <form class="d-inline" action="{{path("company_planning")}}" method="POST">
                            <input type="hidden" name="week" value="{{planning.week}}">
                            <input type="hidden" name="year" value="{{planning.year}}">
                            <input type="hidden" name="company" value="{{planning.company.id}}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </span> 
                </div>  
            {% endif %}
        {% endfor %}
        </div>

        {# pop up form for duplication #}
        <div id="popup-duplication-form" class="popup_block" data-form-id="0">
            <form name="planning-duplication" method="POST" id="planning-duplication">
                <div>
                    <h2>Préciser la semaine et l'année cible de la duplication</h2>
                    <div>
                        <label for="year-pop">Année</label>
                        <input type="number" name="year-pop" id="year-pop">
                    </div>
                    <div>
                        <label for="week-pop">Semaine</label>
                        <input type="number" name="week-pop" id="week-pop">
                    </div>
                    <button class="btn btn-success" id="planning-duplication-btn">Confirmer</button>
                    <button class="btn cancel-btn" id="cancel-edit-btn">Anuler</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}